[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
environs = "*"
pymysql = "*"
aiomysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
